{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

{% block stylesheets %}
    <style src={% static 'css/style.css'%}></style>
{% endblock stylesheets %}
</head>
{% block content %}
    {% if request.user.is_authenticated and request.user.role > 1 %}
        <body>
            <div class="container mx-auto">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col text-center">
                        <h4>Reestablecer contraseña</h4>
                        <h5>{{user.username}}</h5>
                        <div class="card border-0 mt-2">
                            {% if message %}
                                {% if success %}
                                    <div class="alert alert-success" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="forms">
                                <div class="form-content">
                                    <div class="login-form">
                                        <form action="{% url "authentication:change-password" pk=kwargs.pk %}" method="post">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </body>
    {% else %}
        {% include "../authorization_denied.html" %}
    {% endif %}

{% endblock content %}